@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Poppins&display=swap');
body{
    font-family: 'EB Garamond' , Poppins;
font-family: ;
}
.bg-custom-primary{
    background: #B68C5A;
}