@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Poppins&display=swap');
body{
    font-family: 'EB Garamond';
    font-family:' Poppins' ;
}
.bg-custom-primary{
    background: #B68C5A;
}
.banner{
    
    background-image: url('../images/banner.png'), linear-gradient(180deg, #111111 0%, rgba(17, 17, 17, 0) 100%);
    background-size:cover;
    width: 75%;
    margin: 10px auto;
    background-repeat: no-repeat;
    height:70vh;
    background-position:center ;
}
.card{
    background: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0) 100%);
}
.dev-img{
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 10%;
    height: 10%;
}
.carousel-item{
    
    height: 60vh;
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
 
}
.carousel-item::before{
    display: block;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
background: rgba(17, 17, 17, 0.8);


}



